.personaje{
    height: 80vh;
    width: 300px;
    padding: 40px 65px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: solid black 1px;
    border-radius: 12px;
}

.personaje img{
    height: 70%;
}